In [2]:
import os
import json
import glob
import pandas as pd
import numpy as np
#from google.colab import files

In [3]:
RUN_ENV = 'COLAB' # 'PC' or 'COLAB'

In [4]:
RUN_ENV = 'PC'

# 0 Load Data by uploading json files maded by ning (need to repeat every time b4 u start)

In [58]:
if RUN_ENV == 'COLAB':
    #jsonæ–‡ä»¶ï¼Œåœ°å€åœ¨githubåº“MF_KOC\Data\raw\, å¯¼å…¥ä¸Šä¼ æ–‡ä»¶ä¸ºdata frameæ ¼å¼
    uploaded_creator = files.upload()
    df_creator_0 = pd.read_json(next(iter(uploaded_creator)))
    df_creator = df_creator_0.copy()
    uploaded_content = files.upload()
    df_contents_0 = pd.read_json(next(iter(uploaded_content)))
    df_contents = df_contents_0.copy()
elif RUN_ENV == 'PC':
    #è¯»å–æœ¬åœ°jsonæ–‡ä»¶
    df_creator = pd.read_json(r'..\Data\raw\creator_total.json')
    df_contents = pd.read_json(r'..\Data\raw\contents_total.json')
    df_csv = pd.read_csv(r'..\Data\XHS_KOC_List - Sheet1.csv')

In [59]:
print(df_creator.shape)
print(df_contents.shape)
print(df_csv.shape)

(102, 11)
(15941, 21)
(107, 26)

In [60]:
df_csv.drop(columns=['Scraped by', 'Name', 'URL', 'Bio(text)', 'æ˜Ÿåº§', 'Sex',
       'following count', 'fans count', 'liked n collected', 'ip_location',
       'tags(text)','çº¢äººå¥åº·ç­‰çº§', 'æ´»è·ƒç²‰ä¸å æ¯”(ä»…>1K)',
       'ç²‰ä¸å¥³æ€§æ¯”ä¾‹', 'ç²‰ä¸å¹´é¾„<18', 'ç²‰ä¸å¹´é¾„18-24', 'ç²‰ä¸å¹´é¾„25-34', 'ç²‰ä¸å¹´é¾„35-44', 'ç²‰ä¸å¹´é¾„>44',
       'å…´è¶£æ ‡ç­¾', 'åœ°åŸŸåˆ†å¸ƒ', 'Unnamed: 25'], inplace=True)
df_csv.columns

Index(['user_id', 'å›¾æ–‡æŠ¥ä»·(RMB)', 'å›¾æ–‡æŠ¥ä»·æœ‰å¯¹å·', 'å¹³å°ç­‰çº§'], dtype='object')

In [61]:
df_creator = pd.merge(
df_creator,
df_csv,
on='user_id'
)
print(df_creator.shape)

(101, 14)

# 1 Convert columns to the right dtype, and remove the irrelevant columns

In [63]:
# Define the desired data types for each column of df_creator
desired_dtypes = ['object']*6 + ['int32']*3 + ['object'] +  ['int64']
df = df_creator
# Assign the data types to the columns
for col, dtype in zip(df.columns, desired_dtypes):
    df[col] = df[col].astype(dtype)

In [64]:
# Define the desired data types for each column of df_contents
desired_dtypes = ['object']*5 +  ['int64'] + ['datetime64[s]'] + ['object']*3 +  ['int64']*4 + ['object']*3 + ['int64'] + ['object']*3
df = df_contents
# Assign the data types to the columns
for col, dtype in zip(df.columns, desired_dtypes):
    df[col] = df[col].astype(dtype)

# 2 Treat the df_contents table

### 7.2, 7.5, 7.6, 7.8, 7.9,

In [65]:
# remove columns, ['video_url', 'nickname', 'avatar', 'ip_location', 'note_url', 'source_keyword', 'xsec_token']
df_contents.drop(columns=['video_url', 'nickname', 'avatar', 'ip_location', 'note_url', 'source_keyword', 'xsec_token'], inplace=True)

### 7.1 Type: change the normal to 0, video to 1

In [66]:
df_contents['type'].value_counts()

type
normal    12415
video      3526
Name: count, dtype: int64

In [67]:
# Replace 'normal' with 0 and 'video' with 1 in the 'type' column
df_contents['type'] = df_contents['type'].map({'normal': 0, 'video': 1}).astype('int8')

# Change the column name 'type' to 'content_type_video'
df_contents.rename(columns={'type': 'content_type_video'}, inplace=True)

### 7.7 [Xinbo]Replace image urls with image count

In [68]:
# Create a new column 'image_count' by counting the URLs in 'image_list'
df_contents['image_count'] = df_contents['image_list'].apply(
    lambda x: len(x.split(',')) if isinstance(x, str) and x.strip() != '' else 0
)

# Drop the original 'image_list' column
df_contents.drop('image_list', axis=1, inplace=True)

In [69]:
# Convert 'image_count' to int64
df_contents['image_count'] = df_contents['image_count'].astype('int64')

### 7.12 [Xinbo]noteçš„äº’åŠ¨æ€»æ•°(å¸®åŠ©ç¡®å®šçˆ†æ¬¾ç¬”è®°)

In [70]:
df_contents['interaction_count'] = df_contents[['liked_count', 'collected_count', 'share_count']].sum(axis=1)

### 5. [Ning]ç­›é€‰çˆ†æ¬¾hot note

In [71]:
# A. å¯¹äºåƒç²‰çº§creator(ç²‰ä¸æ•°>1000):
# 	If a note äº’åŠ¨æ€»æ•°+åˆ†äº«æ•° > ç²‰ä¸æ•°/10 + 50 (ç”¨å½“å‰ç²‰ä¸æ•°, å¿½ç•¥ç²‰ä¸æˆé•¿æ›²çº¿)
# B. å¯¹äºç´ äººçº§creator(1000>ç²‰ä¸æ•°):
# 	If a note äº’åŠ¨æ€»æ•°+åˆ†äº«æ•° > 150
def get_hot_note(df_creator,df_contents):
    """
    æå–çˆ†æ¬¾ç¬”è®°ï¼Œå¹¶åœ¨åŸæœ‰å®Œæ•´ç¬”è®°æ•°æ®è¡¨ä¸­æ·»åŠ ä¸€åˆ— hot_note, ç”¨0æˆ–1æ ‡æ³¨æ˜¯å¦ä¸ºçˆ†æ¬¾ç¬”è®°

    Args:
        df_creator (DataFrame): å®Œæ•´ç”¨æˆ·æ•°æ®.
        df_contents (DataFrame): å®Œæ•´ç¬”è®°æ•°æ®.
    Return:
        df_hot_content (DataFrame): çˆ†æ¬¾ç¬”è®°æ•°æ®
        df_contents (DataFrame): æ·»åŠ åçš„ç¬”è®°æ•°æ®.
    """
    merged_df = pd.merge(
    df_creator[['user_id', 'fans']],
    df_contents,
    on='user_id'
    )
    maskA = (
        (merged_df['fans'] >= 1000) &
        ((merged_df['liked_count'] + merged_df['collected_count'] +
          merged_df['comment_count'] + merged_df['share_count']) >
         (merged_df['fans'] / 10 + 50))
    )

    maskB = (
        (merged_df['fans'] < 1000) &
        ((merged_df['liked_count'] + merged_df['collected_count'] +
          merged_df['comment_count'] + merged_df['share_count']) > 150)
    )

    mask = maskA | maskB
    hot_content = merged_df[mask]

    df_contents['hot_note'] = 0
    hot_list = hot_content['note_id'].values.tolist()
    for i in range(len(df_contents)):
      rows = df_contents.iloc[i]
      note_id = rows['note_id']
      if note_id in hot_list:
        df_contents.loc[df_contents['note_id']==note_id,'hot_note']=1

    return df_contents, hot_content

# Get hot notes and add a new column to df_contents
df_contents, df_hot_content = get_hot_note(df_creator, df_contents)

6.28 [Ning]æ–°åŠ average pictures per normal note, pic_per_normal_note ä»¥åŠè§†é¢‘ç¬”è®°å æ¯”, video_ratio\
6.29 [Ning]æ–°åŠ hot note count (è¯·å‚è€ƒä¸Šé¢é«˜äº®çš„ 5, åˆ†ä¸¤ç±»creator, ä½†éœ€è¦å®Œæˆcontentè¡¨)\
6.30 [Ning]æ–°åŠ total share counts from hot notes ratio(åŒä¸Š)\
6.31 [Ning]æ–°åŠ æœ€è¿‘ä¸€æ¬¡å‘å¸–åˆ°æŠ“å–æ—¶çš„å¤©æ•°(floorå–æ•´), last_note2now\
6.32 [Ning]æ–°åŠ æœ€è¿‘ä¸€æ¬¡å‘hot noteåˆ°æŠ“å–æ—¶çš„å¤©æ•°(floorå–æ•´), last_hot_note2now

In [72]:
def get_di(time):
      days = time / 86400000
      if days <= 25:
        d = np.exp(-0.02773*days)
      else:
        d = np.exp(-0.02773*25) * np.exp(-0.00396*(days-25))
      return d
def timestamp_diff_to_days(t1, t2):
    """
    è®¡ç®—æ¯«ç±³çº§æ—¶é—´æˆ³çš„å·®å€¼ï¼Œå¹¶è½¬åŒ–ä¸ºå¤©æ•°ï¼Œå‘ä¸‹å–æ•´

    Args:
        t2 (int): ç¬¬äºŒæ—¶é—´.
        t1 (int): ç¬¬ä¸€æ—¶é—´.
    Return:
        days (int): å·®å€¼å¤©æ•°
    """
    delta_ms = t2 - t1
    days = delta_ms // 86400000
    return days
def add_columns_creator_Ning(df_creator,df_contents,hot_content):
    """
    åœ¨ç”¨æˆ·æ•°æ®ä¸­æ·»åŠ  hot_note_count, total_share_counts_hot_ratio, last_note2now, last_hot_note2now, pic_per_normal_note, video_ratio, weighted_total_share_counts

    Args:
        df_creator (DataFrame): å®Œæ•´ç”¨æˆ·æ•°æ®.
        df_contents (DataFrame): å®Œæ•´ç¬”è®°æ•°æ®.
        hot_content (DataFrame): çˆ†æ¬¾ç¬”è®°æ•°æ®.
    Return:
        df_creator (DataFrame): æ·»åŠ å®Œæˆåçš„ç”¨æˆ·æ•°æ®
    """
    df_creator['pic_per_normal_note'] = 0.0
    df_creator['video_ratio'] = 0.0
    df_creator['hot_note_count'] = 0
    df_creator['total_share_counts_hot_ratio'] = 0
    df_creator['last_note2now'] = 0
    df_creator['last_hot_note2now'] = 0
    for i in range(len(df_creator)):
      num_video = 0
      num_image = 0
      num_share = 0
      rows = df_creator.iloc[i]
      user_id = rows['user_id']
      current_hot_content = hot_content[hot_content['user_id']== user_id]
      current_content = df_contents[df_contents['user_id']== user_id]
      for j in range(len(current_content)):
        rows = current_content.iloc[j]
        num_share += rows['share_count'] * get_di(timestamp_diff_to_days(rows['time'], rows['last_modify_ts']))
        note_type = rows['content_type_video']
        if note_type == 1:
          num_video += 1
        elif note_type == 0:
          num_image += rows['image_count']
      df_creator.loc[df_creator['user_id'] == user_id, 'weighted_total_share_counts'] = num_share
      df_creator.loc[df_creator['user_id'] == user_id, 'video_ratio'] = num_video/len(current_content)
      df_creator.loc[df_creator['user_id'] == user_id, 'pic_per_normal_note'] = min(num_image/(len(current_content)-num_video),8)
      df_creator.loc[df_creator['user_id'] == user_id, 'hot_note_count'] = len(current_hot_content)
      df_creator.loc[df_creator['user_id'] == user_id, 'total_share_counts_hot_ratio'] = current_hot_content['share_count'].sum()/current_content['share_count'].sum()
      time_last_note = df_contents.loc[df_contents['user_id']== user_id]['time'].max()
      time_craw_note = df_contents.loc[(df_contents['user_id']== user_id) & (df_contents['time']== time_last_note), 'last_modify_ts'].max()
      time_last_hot = hot_content.loc[hot_content['user_id']== user_id]['time'].max()
      time_craw_hot = hot_content.loc[(hot_content['user_id']== user_id) & (hot_content['time']== time_last_hot), 'last_modify_ts'].max()
      if len(current_hot_content) != 0:
        df_creator.loc[df_creator['user_id'] == user_id, 'last_note2now'] = int(timestamp_diff_to_days(time_last_note, time_craw_note))
        df_creator.loc[df_creator['user_id'] == user_id, 'last_hot_note2now'] = int(timestamp_diff_to_days(time_last_hot, time_craw_hot))
    return df_creator
df_contents, hot_content = get_hot_note(df_creator,df_contents.copy())
df_creator = add_columns_creator_Ning(df_creator,df_contents,hot_content)

C:\Users\ningn\AppData\Local\Temp\ipykernel_40624\1618437053.py:58: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.558763816828333' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_creator.loc[df_creator['user_id'] == user_id, 'total_share_counts_hot_ratio'] = current_hot_content['share_count'].sum()/current_content['share_count'].sum()

[Ning] ç»´åº¦2å†…å®¹ä¼ æ’­åŠ›ä»¥åŠç»´åº¦5

In [73]:
def get_d2_score(df_creator,df_contents):
    """
    è®¡ç®—ç»´åº¦äºŒçš„æ€»åˆ†å¹¶æ·»åŠ åˆ°ç”¨æˆ·è¡¨ä¸­

    Args:
        df_creator (DataFrame): å®Œæ•´ç”¨æˆ·æ•°æ®.
        df_contents (DataFrame): å®Œæ•´ç¬”è®°æ•°æ®.
    Return:
        df_creator (DataFrame): æ·»åŠ ç»´åº¦äºŒæ€»åˆ†åçš„ç”¨æˆ·æ•°æ®
    """

    df_creator['score_2'] = 0.0
    df_creator['score_5'] = 0.0
    for i in range(len(df_creator)):
      rows = df_creator.iloc[i]
      user_id = rows['user_id']
      price = rows.get('å›¾æ–‡æŠ¥ä»·(RMB)',10)
      is_price = rows.get('å›¾æ–‡æŠ¥ä»·æœ‰å¯¹å·',0)
      level = rows.get('å¹³å°ç­‰çº§',3)
      if level == 'é‡‘å† è–¯':
        level = 9
      elif level == 'é“¶å† è–¯':
        level = 9
      elif level == 'é“œå† è–¯':
        level = 8
      elif level == 'æ–‡åŒ–è–¯':
        level = 7
      elif level == 'å°é©¬è–¯':
        level = 6
      elif level == 'ç”œç­’è–¯':
        level = 5
      elif level == 'æ³¡æ³¡è–¯':
        level = 4
      else:
        level = 3
      if is_price != '1':
        is_price = '0'
        score_c = 0
      else:score_c = 10
      if price == 'null' or price == 'Null' or price == 'æ‰¾ä¸åˆ°':
        price = 10
      if type(price) != str: price = 10
      if int(price) <= 100:
        score_a = 60
      else: score_a = 60*np.exp(0.015*(100-int(price)))
      if level <= 8:
        score_b = 30*(np.log(level+1)/np.log(9))
      else:score_b = 28.5

      df_creator.loc[df_creator['user_id'] == user_id, 'score_5'] = score_a + score_b + score_c
      score_1 = 0
      score_2 = 0
      score_3 = 0
      # 1. ä¼ æ’­æ•ˆèƒ½ï¼ˆ50%ï¼‰
      score_1 = rows['weighted_total_share_counts']*50/np.percentile(df_creator['weighted_total_share_counts'].values.tolist(),90)
      # 2. çˆ†æ¬¾è´¨é‡ï¼ˆ30%ï¼‰
      first_term = rows['hot_note_count']*0.7/np.percentile(df_creator['hot_note_count'].values.tolist(),90)
      second_term = rows['total_share_counts_hot_ratio']*0.3/np.percentile(df_creator['total_share_counts_hot_ratio'].values.tolist(),90)
      score_2 = (first_term + second_term)*30
      # 3. è§†è§‰è¡¨è¾¾ï¼ˆ20%ï¼‰
      first_term = rows['pic_per_normal_note']*0.6/8
      second_term = rows['video_ratio']*0.4/np.percentile(df_creator['video_ratio'].values.tolist(),90)
      score_3 = (first_term + second_term)*20
      df_creator.loc[df_creator['user_id'] == user_id, 'score_2'] = score_1 + score_2 + score_3
    return df_creator
df_creator = get_d2_score(df_creator,df_contents)

### 7.13 [Yucheng]ç¬”è®°åœ¨EDAå›¾çš„æ—¶é—´æˆ³å¯ä»¥è®¾å®šä¸ºTimeå’Œlast_update_timeçš„ä¸€ä¸ªå‡½æ•°ã€‚æå–æ—¶é—´æˆ³ä¸­çš„ å¹´æœˆæ—¥ã€å°æ—¶ã€æ˜ŸæœŸå‡ ã€æ˜¯å¦èŠ‚å‡æ—¥ ç­‰ç‰¹å¾

In [75]:
def clean_and_extract_time_features(df_contents):

    """
    ç»Ÿä¸€åŸå§‹æ—¶é—´å­—æ®µæ ¼å¼ï¼Œå¹¶æ·»åŠ åŸºäºå‘å¸–æ—¶é—´çš„æ—¶é—´ç‰¹å¾ã€‚

    é‡å‘½åå­—æ®µï¼ˆå¹¶ç»Ÿä¸€ä¸º datetimeï¼‰ï¼š
        - timeï¼ˆå‘å¸–æ—¶é—´ï¼‰ï¼šè½¬æ¢ä¸º datetime
        - last_modify_ts â†’ extract_tsï¼ˆæŠ“å–æ—¶é—´ï¼‰ï¼šè½¬æ¢å¹¶æ”¹å
        - last_update_timeï¼šå·²æ˜¯ datetime æ ¼å¼ï¼Œåšæ ‡å‡†åŒ–

    æ–°å¢å­—æ®µï¼ˆåŸºäº time æå–ï¼‰ï¼š
        - year
        - month
        - dayofweek
        - is_weekend
        - hour
    """

    # è½¬æ¢å¹¶é‡å‘½å last_modify_ts ä¸º extract_ts
    df_contents['extract_ts'] = pd.to_datetime(df_contents['last_modify_ts'], unit='ms')
    df_contents.drop(columns=['last_modify_ts'], inplace=True)

    # è½¬æ¢å…¶ä»–æ—¶é—´å­—æ®µ
    df_contents['time'] = pd.to_datetime(df_contents['time'], unit='ms')
    df_contents['last_update_time'] = pd.to_datetime(df_contents['last_update_time'])

    # æå–æ—¶é—´ç‰¹å¾ï¼ˆåŸºäºå‘å¸–æ—¶é—´ï¼‰
    df_contents['year'] = df_contents['time'].dt.year
    df_contents['month'] = df_contents['time'].dt.month
    df_contents['dayofweek'] = df_contents['time'].dt.dayofweek  # 0 = Monday
    df_contents['is_weekend'] = df_contents['dayofweek'].isin([5, 6]).astype(int)
    df_contents['hour'] = df_contents['time'].dt.hour

    # rename 'time' to 'post_time'
    df_contents.rename(columns={'time': 'post_time'}, inplace=True)


    return df_contents

df_contents = clean_and_extract_time_features(df_contents)

# å¿«é€Ÿé¢„è§ˆæ—¶é—´å’Œæå–ç»“æœ
df_contents[['post_time', 'extract_ts', 'last_update_time', 'year', 'month', 'dayofweek', 'is_weekend', 'hour']].head(2)

,post_time,extract_ts,last_update_time,year,month,dayofweek,is_weekend,hour
0,2025-03-12 00:32:05,2025-03-12 00:55:08.175,2025-03-12 00:32:06,2025,3,2,0,0
1,2025-03-05 18:21:03,2025-03-12 00:55:08.248,2025-03-05 18:21:04,2025,3,2,0,18

### æŠŠdf_conents å­˜ä¸ºcontents_cooked, ä»¥åç›´æ¥ä½¿ç”¨è¿™ä¸ª, ä¸è¦ç»§ç»­ç”¨å“ªä¸ªdf_conents

In [76]:
# save df_contents to contents_cooked.json
if RUN_ENV == 'COLAB':
    # Save the DataFrame exclude the columns ['year', 'month', 'dayofweek', 'is_weekend', 'hour'] to a JSON file in Google Colab
    df_contents.drop(columns=['year', 'month', 'dayofweek', 'is_weekend', 'hour']).to_json(r'/content/contents_cooked.json', orient='records',force_ascii=False)
elif RUN_ENV == 'PC':
    # Save the DataFrame exclude the columns ['year', 'month', 'dayofweek', 'is_weekend', 'hour'] to a JSON file on your local machine
    df_contents.drop(columns=['year', 'month', 'dayofweek', 'is_weekend', 'hour']).to_json(r'..\Data\processed\contents_cooked.json', orient='records',force_ascii=False)

# 3 Treat the df_creator table

## 6.6 - 6.10 Add Interaction Counts
Refine Creator (add sums)
- 6.6 Get the total amount of `liked`
- 6.7 Get the total amount of `collected`
- 6.8 Get the total amount of `comment`
- 6.9 Get the total amount of `shared`
- 6.10 Get the total number of posts as `note_count`
- The data type of added columns are set to integer

In [77]:
# Ensure numeric columns in the content df are in the proper format
for col in ['liked_count', 'collected_count', 'comment_count', 'share_count']:
    df_contents[col] = pd.to_numeric(df_contents[col], errors='coerce')

# Group content df by user_id and sum the counts
agg_counts = df_contents.groupby('user_id')[['liked_count', 'collected_count', 'comment_count', 'share_count']].sum().reset_index()

# Merge the aggregated counts into the creator df by aligning on user_id
df_creator = pd.merge(df_creator, agg_counts, on='user_id', how='left')
# Convert the data type to integer
for col in ['liked_count', 'collected_count', 'comment_count', 'share_count']:
    df_creator[col] = df_creator[col].convert_dtypes()

In [78]:
note_counts = df_contents.groupby("user_id")["note_id"].count().reset_index(name="note_count")
df_creator = pd.merge(df_creator, note_counts, on="user_id", how="left")
df_creator["note_count"] = df_creator["note_count"].fillna(0).astype(int)

In [ ]:
df_creator.head(2)

,user_id,nickname,gender,avatar,desc,ip_location,follows,fans,interaction,tag_list,...,total_share_counts_hot_ratio,last_note2now,last_hot_note2now,weighted_total_share_counts,score_2,liked_count,collected_count,comment_count,share_count,note_count
0,576d3bde82ec3952ff40c5e1,è¾¾æ‹‰æ–¯å°é¸¡è…¿,å¥³,https://sns-avatar-qc.xhscdn.com/avatar/61df4c...,æ…¢æ…¢äº†è§£ä¸–ç•Œï¼Œæ…¢æ…¢æ›´æ–°è‡ªå·±\nåƒå–ç©ä¹+å®å®ä»¬ï¼Œéšå¿ƒåˆ†äº«\nä½›ç³»æ›´æ–°ä¸­ï½æ¯”å¿ƒğŸ«°,ç¾å›½,837,1653,11636,"{""info"": null, ""location"": ""ç¾å›½"", ""profession"":...",...,0.558764,0,22,4432.999131,79.581669,6443,4951,2847,4433,146
1,58b325ce50c4b442ae017a30,å°æ¸©æŸ”Sylvia,å¥³,https://sns-avatar-qc.xhscdn.com/avatar/1040g2...,åŒ—äº¬ğŸ‡¨ğŸ‡³â†’ è¾¾æ‹‰æ–¯ğŸ‡ºğŸ‡¸\n163cm â™‹å·¨èŸ¹åº§ ä¹è§‚å¼€æœ— \nIG: sylviviishe...,ç¾å›½,961,304,10699,"{""info"": null, ""location"": ""åŒ—äº¬æµ·æ·€""}",...,0.809131,5,5,1817.999749,47.761860,7290,3354,1713,1818,142

## Processing Tag list
There are four different categories in tag lists: info, location, profession and college.

Processing tag lists as
- Creating a columns as `zodiac` for æ˜Ÿåº§ ã€‚
- Note that there are 5 missing values in the `ip_location` column where the `location` column is not missing. I plan to use the `location` data to impute these missing `ip_location` values. Additionally, there are 22 cases where `ip_location` and `location` do not match (among the non-missing location entries), which include typos, missing values, and additional details present in the `location` field. (For detailed location info, we still need to discuss how to deal with it.)
- For `college`, `prefession`and `age`, there are only few KOC having this information, so I append it behind `desc` connected by '|'.

In [79]:
import json
import pandas as pd

def extract_features(row):
    # Set default values when a field is missing
    zodiac = 'unknown'
    age = 'unknown'
    profession = 'unknown'
    college = 'unknown'

    try:
        tag_dict = json.loads(row['tag_list'])
    except Exception:
        # If tag_list is not valid JSON, return defaults.
        return pd.Series([zodiac, age, profession, college])

    # Process the 'info' field for zodiac and age.
    info = tag_dict.get('info')
    if info and isinstance(info, str):
        if 'åº§' in info:
            zodiac = info  # if 'åº§' is present, assume this is the zodiac info.
        if 'å²' in info:
            age = info     # if 'å²' is present, assume this is the age info.

    # Process 'profession'
    if tag_dict.get('profession'):
        profession = tag_dict.get('profession')

    # Process 'college'
    if tag_dict.get('college'):
        college = tag_dict.get('college')

    return pd.Series([zodiac, age, profession, college])

# Apply the extraction function to create a temporary DataFrame of extracted features.
extracted_features = df_creator.apply(extract_features, axis=1)
extracted_features.columns = ['zodiac', 'age', 'profession', 'college']

# Check how many rows have 'unknown' for each feature.
missing_counts = extracted_features.eq('unknown').sum()
print("Missing Values Counts:")
print(missing_counts)

# Optionally, inspect a few rows with missing zodiac information.
print("\nRows with unknown zodiac:")
print(extracted_features[extracted_features['zodiac'] == 'unknown'].head())

Missing Values Counts:
zodiac        74
age           90
profession    73
college       94
dtype: int64

Rows with unknown zodiac:
    zodiac      age profession  college
0  unknown  unknown       æ¢åº—åšä¸»  unknown
1  unknown  unknown    unknown  unknown
2  unknown      35å²    unknown  unknown
3  unknown  unknown       ç¾é£Ÿåšä¸»  unknown
4  unknown  unknown    unknown  unknown

In [80]:
def append_tags_to_desc(row):
    original_desc = row['desc']

    # Default values when a field is missing
    zodiac = 'unknown'
    age = 'unknown'
    profession = 'unknown'
    college = 'unknown'

    try:
        tag_dict = json.loads(row['tag_list'])
    except Exception:
        # If tag_list is not valid JSON, append unknown for all.
        appended = f"Zodiac: {zodiac} | Age: {age} | Profession: {profession} | College: {college}"
        return original_desc + " | " + appended

    # Process the 'info' field for zodiac and age.
    info = tag_dict.get('info')
    if info and isinstance(info, str):
        if 'åº§' in info:
            zodiac = info
        if 'å²' in info:
            age = info

    # Process 'profession'
    if tag_dict.get('profession'):
        profession = tag_dict.get('profession')

    # Process 'college'
    if tag_dict.get('college'):
        college = tag_dict.get('college')

    appended = f"Zodiac: {zodiac} | Age: {age} | Profession: {profession} | College: {college}"
    return original_desc + " | " + appended

# Update the 'desc' column in df_creator by applying the function row-wise.
df_creator['desc'] = df_creator.apply(append_tags_to_desc, axis=1)

In [ ]:
df_creator.head(2)

,user_id,nickname,gender,avatar,desc,ip_location,follows,fans,interaction,tag_list,...,total_share_counts_hot_ratio,last_note2now,last_hot_note2now,weighted_total_share_counts,score_2,liked_count,collected_count,comment_count,share_count,note_count
0,576d3bde82ec3952ff40c5e1,è¾¾æ‹‰æ–¯å°é¸¡è…¿,å¥³,https://sns-avatar-qc.xhscdn.com/avatar/61df4c...,æ…¢æ…¢äº†è§£ä¸–ç•Œï¼Œæ…¢æ…¢æ›´æ–°è‡ªå·±\nåƒå–ç©ä¹+å®å®ä»¬ï¼Œéšå¿ƒåˆ†äº«\nä½›ç³»æ›´æ–°ä¸­ï½æ¯”å¿ƒğŸ«° | Zodi...,ç¾å›½,837,1653,11636,"{""info"": null, ""location"": ""ç¾å›½"", ""profession"":...",...,0.558764,0,22,4432.999131,79.581669,6443,4951,2847,4433,146
1,58b325ce50c4b442ae017a30,å°æ¸©æŸ”Sylvia,å¥³,https://sns-avatar-qc.xhscdn.com/avatar/1040g2...,åŒ—äº¬ğŸ‡¨ğŸ‡³â†’ è¾¾æ‹‰æ–¯ğŸ‡ºğŸ‡¸\n163cm â™‹å·¨èŸ¹åº§ ä¹è§‚å¼€æœ— \nIG: sylviviishe...,ç¾å›½,961,304,10699,"{""info"": null, ""location"": ""åŒ—äº¬æµ·æ·€""}",...,0.809131,5,5,1817.999749,47.761860,7290,3354,1713,1818,142

**location**

In [81]:
# Parse the JSON strings in tag_list into dictionaries
tag_process = df_creator['tag_list'].apply(lambda x: json.loads(x))

# Extract the 'location' key for each row and assign it to a new 'location' column
df_creator['location'] = tag_process.apply(lambda x: x.get('location', None))

In [82]:
df_creator['location'] = df_creator['location'].replace('UnitedStates','ç¾å›½')
df_creator['location'] = df_creator['location'].replace('ç¾å›½å¾—å…‹è¨æ–¯','ç¾å›½TX')
df_creator['location'] = df_creator['location'].replace('UnitedStates...','ç¾å›½')
df_creator['location'] = df_creator['location'].replace('æµ·å¤–ç¾å›½','ç¾å›½')

#### Note:
- ip_location: directly from profile page
- location: separated from user self-added tags
- æœ€ååˆå¹¶æˆä¸€ä¸ªip_location: ä¸‰ä¸ªç­‰çº§, TX, US, CN

In [83]:
df_creator[['ip_location','location']][((~df_creator['location'].isna()) & (df_creator['location'] != df_creator["ip_location"]))]

   ip_location location
1           ç¾å›½     åŒ—äº¬æµ·æ·€
5           ç¾å›½     ç¾å›½TX
20                   ç¾å›½
30          ç¾å›½     ç¾å›½NY
31         å¢¨è¥¿å“¥     ç¾å›½TX
37          ç¾å›½     ç¾å›½TX
38          ç¾å›½     ç¾å›½TX
49          ç¾å›½     å·´å·´å¤šæ–¯
54          ç¾å›½     ç¾å›½TX
55                 ç¾å›½TX
56          ç¾å›½     ç¾å›½TX
71                   ç¾å›½
75          ç¾å›½       ä¸­å›½
76                   ç¾å›½
78                   ç¾å›½
80          ç¾å›½     ç¾å›½TX
82          ç¾å›½   ç¾å›½è¾¾æ‹‰æ–¯å¸‚
88          ç¾å›½     ç¾å›½TX
97          ç¾å›½     ç¾å›½CA

### Impute `ip_location` by `location`

In [84]:
df_creator['location'] = df_creator['location'].apply(
    lambda x: "TX" if isinstance(x, str) and "ç¾å›½TX" in x
    else ("US" if isinstance(x, str) and "ç¾å›½" in x else "abroad")
)

In [85]:
df_creator['location'].head(10)

0        US
1    abroad
2        US
3        US
4        US
5        TX
6        US
7        US
8        US
9        US
Name: location, dtype: object

In [86]:
df_creator = df_creator.drop(columns=['tag_list'])

## Feature Engineering

**KOC level**
- `ff_ratio`: ratio calculated by fans over follows
- `video_ratio`: ratio calculated by number of video posts over total number posts
- `account_age`: the time length in days between the newest post and oldest post

In [87]:
df_creator['ff_ratio'] = df_creator.fans / df_creator.follows
time_length = df_contents.groupby('user_id') \
    .agg(oldest = ('post_time', 'min'), newest = ('post_time', 'max')).reset_index()
time_length['age_koc'] = time_length.newest - time_length.oldest
time_length['age_koc'] = time_length.age_koc.dt.days
df_creator = pd.merge(df_creator, time_length[['user_id', 'age_koc']], on = 'user_id')

In [88]:
df_creator.describe()

,follows,fans,interaction,last_modify_ts,å›¾æ–‡æŠ¥ä»·æœ‰å¯¹å·,pic_per_normal_note,video_ratio,hot_note_count,total_share_counts_hot_ratio,last_note2now,...,weighted_total_share_counts,score_2,score_5,liked_count,collected_count,comment_count,share_count,note_count,ff_ratio,age_koc
count,101.000000,101.000000,101.000000,1.010000e+02,99.000000,101.000000,101.000000,101.000000,101.000000,101.000000,...,101.000000,101.000000,101.000000,101.0,101.0,101.0,101.0,101.000000,101.000000,101.000000
mean,498.029703,1275.108911,16112.722772,1.741142e+12,0.141414,4.989453,0.218676,12.811881,0.613914,43.544554,...,2063.742138,49.020106,73.428822,8955.138614,3736.009901,1850.613861,2063.742574,151.603960,34.169229,1256.910891
std,707.233956,1604.648852,23537.610119,8.941886e+09,0.350222,1.857399,0.231725,10.690849,0.217669,114.911316,...,2181.951671,30.187041,18.381279,16117.212541,4526.107227,2370.845448,2181.952257,154.108928,240.371746,704.523670
min,3.000000,69.000000,1069.000000,1.652198e+12,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,23.000000,10.195371,19.022724,336.0,116.0,62.0,23.0,11.000000,0.178448,12.000000
25%,94.000000,389.000000,4149.000000,1.741822e+12,0.000000,3.653846,0.043478,6.000000,0.487805,1.000000,...,692.999800,29.887510,78.927893,2055.0,1093.0,547.0,693.0,61.000000,1.083665,819.000000
50%,221.000000,710.000000,7191.000000,1.741974e+12,0.000000,4.803279,0.125523,9.000000,0.638124,6.000000,...,1306.999758,38.467939,78.927893,4224.0,1997.0,1080.0,1307.0,98.000000,3.508772,1271.000000
75%,502.000000,1570.000000,14868.000000,1.742094e+12,0.000000,6.258065,0.340426,17.000000,0.776910,25.000000,...,2697.999638,63.049910,81.974603,7290.0,4485.0,2271.0,2698.0,179.000000,9.691558,1608.000000
max,3749.000000,8955.000000,147344.000000,1.742580e+12,1.000000,8.000000,0.980769,54.000000,0.985555,723.000000,...,11565.996139,160.679105,88.500000,127240.0,25255.0,17114.0,11566.0,781.000000,2417.666667,3089.000000

In [89]:
df_creator.isna().sum()

user_id                          0
nickname                         0
gender                           9
avatar                           0
desc                             0
ip_location                      0
follows                          0
fans                             0
interaction                      0
last_modify_ts                   0
å›¾æ–‡æŠ¥ä»·(RMB)                        1
å›¾æ–‡æŠ¥ä»·æœ‰å¯¹å·                          2
å¹³å°ç­‰çº§                            16
pic_per_normal_note              0
video_ratio                      0
hot_note_count                   0
total_share_counts_hot_ratio     0
last_note2now                    0
last_hot_note2now                0
weighted_total_share_counts      0
score_2                          0
score_5                          0
liked_count                      0
collected_count                  0
comment_count                    0
share_count                      0
note_count                       0
location                         0
ff_ratio                         0
age_koc                          0
dtype: int64

### Impute Gender

All female

In [90]:
# Impute missing values with "å¥³" and then map "å¥³" to 1 and any other value to 0.
df_creator['is_female'] = df_creator['gender'].fillna("å¥³").apply(lambda x: 1 if x == "å¥³" else 0)

# Optionally, drop the original gender column
df_creator.drop('gender', axis=1, inplace=True)

In [91]:
df_creator['is_female'].value_counts()

is_female
1    92
0     9
Name: count, dtype: int64

ç»™KOCåŠ post_span

In [92]:
post_times = df_contents.groupby('user_id')['post_time'].agg(['min', 'max']).reset_index()
post_times['post_span'] = post_times['max'] - post_times['min']
print(post_times[['user_id', 'min', 'max', 'post_span']].head())

                    user_id                 min                 max  \
0  54d82c482e1d9366ebfc8ce5 2020-11-22 20:47:10 2025-03-08 05:22:29
1  5530f8642e1d9365fa9a29fb 2021-05-10 16:54:57 2025-02-28 22:56:16
2  55481451b203d97e86008c02 2020-12-02 00:14:57 2025-01-25 13:47:58
3  556f1983f5a26347140b104b 2017-02-19 08:08:58 2025-03-13 22:58:53
4  558a4a065894460336de85bf 2021-08-11 10:43:04 2025-03-16 04:03:26

           post_span
0 1566 days 08:35:19
1 1390 days 06:01:19
2 1515 days 13:33:01
3 2944 days 14:49:55
4 1312 days 17:20:22

In [93]:
df_creator = pd.merge(df_creator, post_times, on='user_id', how='left')
df_creator.head()

,user_id,nickname,avatar,desc,ip_location,follows,fans,interaction,last_modify_ts,å›¾æ–‡æŠ¥ä»·(RMB),...,comment_count,share_count,note_count,location,ff_ratio,age_koc,is_female,min,max,post_span
0,576d3bde82ec3952ff40c5e1,è¾¾æ‹‰æ–¯å°é¸¡è…¿,https://sns-avatar-qc.xhscdn.com/avatar/61df4c...,æ…¢æ…¢äº†è§£ä¸–ç•Œï¼Œæ…¢æ…¢æ›´æ–°è‡ªå·±\nåƒå–ç©ä¹+å®å®ä»¬ï¼Œéšå¿ƒåˆ†äº«\nä½›ç³»æ›´æ–°ä¸­ï½æ¯”å¿ƒğŸ«° | Zodi...,ç¾å›½,837,1653,11636,1741740734045,60,...,2847,4433,146,US,1.974910,2054,1,2019-07-27 23:00:43,2025-03-12 00:32:05,2054 days 01:31:22
1,58b325ce50c4b442ae017a30,å°æ¸©æŸ”Sylvia,https://sns-avatar-qc.xhscdn.com/avatar/1040g2...,åŒ—äº¬ğŸ‡¨ğŸ‡³â†’ è¾¾æ‹‰æ–¯ğŸ‡ºğŸ‡¸\n163cm â™‹å·¨èŸ¹åº§ ä¹è§‚å¼€æœ— \nIG: sylviviishe...,ç¾å›½,961,304,10699,1741746441631,10,...,1713,1818,142,abroad,0.316337,2459,1,2018-06-12 07:38:23,2025-03-07 01:47:51,2459 days 18:09:28
2,5c0c067c0000000005022f0a,èŒ„èŒ„å…¬ä¸» ğŸ†,https://sns-avatar-qc.xhscdn.com/avatar/1040g2...,åæ ‡ è¾¾æ‹‰æ–¯ ç¾å›½ğŸ‡ºğŸ‡¸ æ¥ç¾14 å¹´ å®¶åº­æˆå‘˜ï¼š ä¸‰åªæ¯›å°å­©ğŸ¶ å–œæ¬¢æ—…æ¸¸ å’Œæ¢ç´¢å„åœ°ç¾é£ŸğŸ¥° ...,ç¾å›½,251,258,3607,1741747540369,10,...,641,852,222,US,1.027888,1879,1,2019-12-25 03:42:14,2025-02-15 04:23:29,1879 days 00:41:15
3,5649379603eb842b7ed00477,Sherryæ˜¯ç¿ç¿å‘€,https://sns-avatar-qc.xhscdn.com/avatar/1040g2...,åŒ—ç¾ç”Ÿæ´»æ¢åº—| Chinese Girl in Dallas TX\nåƒå–ç©ä¹æ ·æ ·è¡Œ | å...,ç¾å›½,1173,1326,28064,1741807240419,100,...,475,1211,66,US,1.130435,476,1,2023-11-15 07:27:31,2025-03-05 23:52:07,476 days 16:24:36
4,5d6a927e00000000010068b9,é”æ‹‰æ–¯é‡Œé•·,https://sns-avatar-qc.xhscdn.com/avatar/1040g2...,é”æ‹‰æ–¯ï¼Œè«‹å¤šæŒ‡æ•™ğŸ‘‹\nåœ¨æœä¹æ™šäº”å¹³æ·¡ç”Ÿæ´»ä¸­ï¼Œ\nç†±çƒˆåˆç‡¦çˆ›çš„æŒ–æ˜ç¾å¥½âœ¨ | Zodiac: ...,ç¾å›½,353,794,8149,1741814164296,20,...,452,1900,138,US,2.249292,1262,1,2021-08-24 23:44:32,2025-02-07 22:07:07,1262 days 22:22:35

Add account length

In [ ]:
df_contents.columns

Index(['note_id', 'content_type_video', 'title', 'desc', 'post_time',
       'last_update_time', 'user_id', 'liked_count', 'collected_count',
       'comment_count', 'share_count', 'tag_list', 'image_count',
       'interaction_count', 'hot_note', 'extract_ts', 'year', 'month',
       'dayofweek', 'is_weekend', 'hour'],
      dtype='object')

In [94]:
# Convert post_time in df_contents (assuming it's in seconds)
df_contents['post_time'] = pd.to_datetime(df_contents['post_time'], unit='s', errors='coerce')

# For df_creator, first inspect the values to check if they are in seconds or milliseconds.
print(df_creator['last_modify_ts'].head())

# If the values look too large (e.g., in the range of 13-digit numbers), they might be in milliseconds.
# Uncomment the appropriate conversion based on your inspection:

# If timestamps are in seconds:
# df_creator['last_modify_ts'] = pd.to_datetime(df_creator['last_modify_ts'], unit='s', errors='coerce')

# If timestamps are in milliseconds:
df_creator['last_modify_ts'] = pd.to_datetime(df_creator['last_modify_ts'], unit='ms', errors='coerce')

# Get the earliest post time for each user
earliest_posts = df_contents.groupby('user_id')['post_time'].min().reset_index()
earliest_posts.rename(columns={'post_time': 'first_post_time'}, inplace=True)

# Merge the earliest post time into df_creator based on user_id.
df_creator = pd.merge(df_creator, earliest_posts, on='user_id', how='left')

# Calculate account_length as the difference between last_modify_ts and first_post_time.
df_creator['account_length'] = df_creator['last_modify_ts'] - df_creator['first_post_time']

print(df_creator[['user_id', 'first_post_time', 'last_modify_ts', 'account_length']].head())

0    1741740734045
1    1741746441631
2    1741747540369
3    1741807240419
4    1741814164296
Name: last_modify_ts, dtype: int64
                    user_id     first_post_time          last_modify_ts  \
0  576d3bde82ec3952ff40c5e1 2019-07-27 23:00:43 2025-03-12 00:52:14.045
1  58b325ce50c4b442ae017a30 2018-06-12 07:38:23 2025-03-12 02:27:21.631
2  5c0c067c0000000005022f0a 2019-12-25 03:42:14 2025-03-12 02:45:40.369
3  5649379603eb842b7ed00477 2023-11-15 07:27:31 2025-03-12 19:20:40.419
4  5d6a927e00000000010068b9 2021-08-24 23:44:32 2025-03-12 21:16:04.296

             account_length
0 2054 days 01:51:31.045000
1 2464 days 18:48:58.631000
2 1903 days 23:03:26.369000
3  483 days 11:53:09.419000
4 1295 days 21:31:32.296000

Add average post time & std

In [95]:
import numpy as np
def compute_history_stats(times):
    if len(times) <= 1:
        # Return NaN for all four stats when not enough data
        return np.nan, np.nan, np.nan, np.nan
    # Ensure the times are sorted
    sorted_times = np.sort(times)
    # Compute intervals in seconds between posts
    intervals = np.diff(sorted_times).astype('timedelta64[s]').astype(float)
    avg_interval = intervals.mean()
    std_interval = intervals.std()

    # Convert times to numeric (seconds since epoch) for average and std computation
    numeric_times = times.astype('datetime64[s]').astype('int64')
    avg_post_numeric = numeric_times.mean()
    std_post_numeric = numeric_times.std()
    # Convert average back to datetime
    avg_post_time = np.datetime64(int(avg_post_numeric), 's')

    return avg_interval, std_interval, avg_post_time, std_post_numeric

# Group by user_id and apply the function on the 'post_time' column
history_stats = df_contents.groupby('user_id')['post_time'].apply(
    lambda x: compute_history_stats(x.values)
).reset_index()

# Expand the computed tuple into separate columns:
# history_avg: average interval between posts (in seconds)
# history_std: standard deviation of intervals (in seconds)
# post_avg: average posting time (datetime)
# post_std: standard deviation of post times (in seconds)
history_stats[['history_avg', 'history_std', 'post_avg', 'post_std']] = pd.DataFrame(
    history_stats['post_time'].tolist(), index=history_stats.index
)

# Remove the temporary column
history_stats.drop(columns=['post_time'], inplace=True)

# Merge the stats into df_creator based on user_id.
df_creator = pd.merge(df_creator, history_stats, on='user_id', how='left')

# Print out the results
print(df_creator[['user_id', 'history_avg', 'history_std', 'post_avg', 'post_std']].head())

# unit is in seconds

                    user_id   history_avg   history_std            post_avg  \
0  576d3bde82ec3952ff40c5e1  1.223938e+06  4.806686e+06 2022-11-17 15:53:58
1  58b325ce50c4b442ae017a30  1.507255e+06  5.636074e+06 2023-02-27 05:37:24
2  5c0c067c0000000005022f0a  7.346067e+05  1.077335e+06 2021-11-11 08:53:28
3  5649379603eb842b7ed00477  6.336227e+05  1.657265e+06 2024-10-21 08:26:10
4  5d6a927e00000000010068b9  7.964770e+05  2.409343e+06 2022-12-14 11:53:24

       post_std
0  3.297572e+07
1  4.406148e+07
2  4.007945e+07
3  7.186721e+06
4  3.483827e+07

Add counts within 90 days

In [96]:
import pandas as pd

# Ensure timestamps are in datetime format
df_creator['last_modify_ts'] = pd.to_datetime(df_creator['last_modify_ts'])
df_contents['post_time'] = pd.to_datetime(df_contents['post_time'])

# Merge last_modify_ts into df_contents for each note (to use the creator's timestamp in filtering)
df_contents = df_contents.merge(
    df_creator[['user_id', 'last_modify_ts']],
    on='user_id',
    how='left',
    suffixes=('', '_creator')
)

# Filter for notes posted within 90 days before (or on) the creator's last_modify_ts
df_recent = df_contents[
    df_contents['post_time'] >= df_contents['last_modify_ts'] - pd.Timedelta(days=90)
]

# Group by user_id and sum the counts from recent notes.
grouped_recent = df_recent.groupby('user_id').agg(
    liked_90=('liked_count', 'sum'),
    comment_90=('comment_count', 'sum'),
    collected_90=('collected_count', 'sum'),
    note_count_90=('note_id', 'count')  # counting the number of notes
)

# If df_contents has a 'share_count' column, include it in the aggregation:
if 'share_count' in df_contents.columns:
    grouped_recent['share_90'] = df_recent.groupby('user_id')['share_count'].sum()

# Merge the recent counts back into df_creator.
df_creator = pd.merge(df_creator, grouped_recent, on='user_id', how='left')

# Replace any missing values (users with no notes in the past 90 days) with 0.
df_creator[['liked_90', 'comment_90', 'collected_90', 'note_count_90']] = \
    df_creator[['liked_90', 'comment_90', 'collected_90', 'note_count_90']].fillna(0)

if 'share_90' in df_creator.columns:
    df_creator['share_90'] = df_creator['share_90'].fillna(0)

print(df_creator[['user_id', 'liked_90', 'comment_90', 'collected_90', 'share_90' if 'share_90' in df_creator.columns else '', 'note_count_90']].head())

                    user_id  liked_90  comment_90  collected_90  share_90  \
0  576d3bde82ec3952ff40c5e1     330.0        92.0         203.0     289.0
1  58b325ce50c4b442ae017a30     565.0       207.0         526.0     336.0
2  5c0c067c0000000005022f0a      15.0         4.0           0.0       1.0
3  5649379603eb842b7ed00477     533.0        61.0         124.0      84.0
4  5d6a927e00000000010068b9     127.0        27.0          55.0      50.0

   note_count_90
0            8.0
1           20.0
2            3.0
3           17.0
4            6.0

In [98]:

threshold_ms = 90 * 24 * 3600 * 1000  # 90 days in ms

# Merge df_contents with the subset of df_creator that has user_id and last_modify_ts.
# Use suffixes so that the creator's timestamp comes out with a unique name.
df_merged = pd.merge(
    df_contents,
    df_creator[['user_id', 'last_modify_ts']],
    on='user_id',
    how='left',
    suffixes=('', '_creator')
)

print("Columns in df_merged:", df_merged.columns.tolist())

# Now, the reference timestamp should be in the column 'last_modify_ts_creator'
# Filter for posts within the 90-day window from each creator's last_modify_ts.
df_recent = df_merged[df_merged['post_time'] >= (df_merged['last_modify_ts_creator'] - threshold_ms)]

# Aggregate the metrics for these recent posts by user_id.
metrics_90 = df_recent.groupby('user_id').agg(
    liked_90=('liked_count', 'sum'),
    collected_90=('collected_count', 'sum'),
    comment_90=('comment_count', 'sum'),
    share_90=('share_count', 'sum'),
    note_count_90=('note_id', 'count')
).reset_index()

# Merge the 90-day metrics into df_creator.
df_creator = pd.merge(df_creator, metrics_90, on='user_id', how='left')

# For creators with no posts in the last 90 days, fill missing values with 0.
cols_to_fill = ['liked_90', 'collected_90', 'comment_90', 'share_90', 'note_count_90']
df_creator[cols_to_fill] = df_creator[cols_to_fill].fillna(0)

# Display the new columns to verify the result.
print(df_creator[['user_id', 'liked_90', 'collected_90', 'comment_90', 'share_90', 'note_count_90']].head())

Columns in df_merged: ['note_id', 'content_type_video', 'title', 'desc', 'post_time', 'last_update_time', 'user_id', 'liked_count', 'collected_count', 'comment_count', 'share_count', 'tag_list', 'image_count', 'interaction_count', 'hot_note', 'extract_ts', 'year', 'month', 'dayofweek', 'is_weekend', 'hour', 'last_modify_ts', 'last_modify_ts_creator']

TypeError: Addition/subtraction of integers and integer-arrays with DatetimeArray is no longer supported.  Instead of adding/subtracting `n`, use `n * obj.freq`

In [99]:
import pandas as pd

# Ensure the timestamps are in datetime format.
df_creator['last_modify_ts'] = pd.to_datetime(df_creator['last_modify_ts'])
df_contents['post_time'] = pd.to_datetime(df_contents['post_time'])

# Merge the creator's last_modify_ts into df_contents.
df_contents = df_contents.merge(
    df_creator[['user_id', 'last_modify_ts']],
    on='user_id',
    how='left',
    suffixes=('', '_creator')
)

# Filter for notes posted within 180 days before (or on) the creator's last_modify_ts.
df_recent_180 = df_contents[
    df_contents['post_time'] >= df_contents['last_modify_ts'] - pd.Timedelta(days=180)
]

# Group by user_id and aggregate the counts.
grouped_recent_180 = df_recent_180.groupby('user_id').agg(
    liked_180=('liked_count', 'sum'),
    comment_180=('comment_count', 'sum'),
    collected_180=('collected_count', 'sum'),
    note_count_180=('note_id', 'count')
)

# If the 'share_count' column exists in df_contents, include it:
if 'share_count' in df_contents.columns:
    grouped_recent_180['share_180'] = df_recent_180.groupby('user_id')['share_count'].sum()

# Merge the aggregated counts back into df_creator.
df_creator = pd.merge(df_creator, grouped_recent_180, on='user_id', how='left')

# Replace missing values with 0 (for creators with no notes in the past 180 days).
for col in ['liked_180', 'comment_180', 'collected_180', 'note_count_180']:
    df_creator[col] = df_creator[col].fillna(0)

if 'share_180' in df_creator.columns:
    df_creator['share_180'] = df_creator['share_180'].fillna(0)

# Display the updated columns for verification.
print(df_creator[['user_id', 'liked_180', 'comment_180', 'collected_180', 'note_count_180', 'share_180']].head())

                    user_id  liked_180  comment_180  collected_180  \
0  576d3bde82ec3952ff40c5e1      728.0        219.0          476.0
1  58b325ce50c4b442ae017a30      598.0        328.0          539.0
2  5c0c067c0000000005022f0a       67.0          5.0           44.0
3  5649379603eb842b7ed00477     1555.0        299.0         1045.0
4  5d6a927e00000000010068b9      334.0         69.0          186.0

   note_count_180  share_180
0            13.0      687.0
1            27.0      356.0
2             6.0       43.0
3            49.0      887.0
4            14.0      210.0

In [100]:
df_creator.columns

Index(['user_id', 'nickname', 'avatar', 'desc', 'ip_location', 'follows',
       'fans', 'interaction', 'last_modify_ts', 'å›¾æ–‡æŠ¥ä»·(RMB)', 'å›¾æ–‡æŠ¥ä»·æœ‰å¯¹å·', 'å¹³å°ç­‰çº§',
       'pic_per_normal_note', 'video_ratio', 'hot_note_count',
       'total_share_counts_hot_ratio', 'last_note2now', 'last_hot_note2now',
       'weighted_total_share_counts', 'score_2', 'score_5', 'liked_count',
       'collected_count', 'comment_count', 'share_count', 'note_count',
       'location', 'ff_ratio', 'age_koc', 'is_female', 'min', 'max',
       'post_span', 'first_post_time', 'account_length', 'history_avg',
       'history_std', 'post_avg', 'post_std', 'liked_90', 'comment_90',
       'collected_90', 'note_count_90', 'share_90', 'liked_180', 'comment_180',
       'collected_180', 'note_count_180', 'share_180'],
      dtype='object')